/* Write some CSS below */
body {
font-family:Overpass;
color: #90A955;
font-size: 18px;
}

h1{
font-family: 'Titan One', cursive;
font-weight: bold;
text-decoration: none;
font-size: 50px;

}

h2{
	font-family: Chivo
}

h3{
	font-family: Chivo
}

a{
	color: #90A955;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
    background-color: #ede0d4;
    text-decoration: none;
	padding: 8px;
	border-radius: 16px;
	box-shadow: box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.59);
-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.59);
-moz-box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.59);
margin: 25px;
}

a:hover {
  color: #4f772d;
  font-weight: bold;
    text-decoration: none;
    transition: .3s;
  background-color: #e6ccb2;
  text-decoration: none;
	padding: 12px;
	border-radius: 16px;
	box-shadow: box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.59);
-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.59);
-moz-box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.59);

}

.footer{
	background-color: #ede0d4;
padding: 20px;
margin-top: 40px;
text-align: center;
}

.banner{
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/banner1.avif');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  padding: 50px;
  margin: 8px;
  font-size: 18px;
  display: grid;
  grid-template-rows: 1fr;
  box-shadow: box-shadow: 5px 5px 0px 5px rgba(0,0,0,0.59);
-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.59);
-moz-box-shadow: 5px 5px 0px 5px rgba(0,0,0,0.59);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.container{
	text-align: center;
	font-size: 30px;
	 width: 800px;
  margin: auto;
}

